body {
  background-color: lightblue;
}

#cool {
  color: palevioletred;
}

.nice {
  color: black;
}

.nicer {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
  color: rgb(255, 66, 138);
}

li a:hover {
  color: white;
}

.active {
  background-color: rgb(255, 66, 138);
}

.redBackground {
  background-color: red;
}
